<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="../img/LogoRecycloV1.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Recyclo - Sobre</title>
</head>

<style type="text/css">
    cite {
        display: block;
    }
</style>

<body>
    <!--nav-->
    <ul>
        <li><a class="lia" href="../Login/index.html">Entrar</a></li>
        <li><a class="lia" href="../mapa_principal/index.html">Mapa</a></li>
        <li style="float:left"><img id="logo" onclick="location.replace('../index.html');" src="../img/LogoRecycloV1.png" alt=""></li>
        <li id="titulo" style="float:left"><a>Recyclo</a></li>
    </ul>
    <div id="home">
        <div id="intro">
            <img id="logoTitulo" src="../img/LogoRecycloV1.png">
            <h1>Recyclo</h1>
        </div>
        <div id="textSobre">
            <p>
                O seguinte projeto desenvolvido por alunos do curso de Análise e Desenv. de Sistemas da FSV - (Faculdade de São Vicente) - Unibr com enfâse em reciclagem, aqui nosso agradecimento e desempenho em programar um software para fins acadêmicos, demonstrar
                nosso conhecimento como Técnicos em Desenvolvimento de Sistemas pela ETEC Ruth Cardoso agregado aos ensinamentos das aulas no curso.
            </p>
            <br>
            <article>
                <blockquote>
                    <p style="
                    font-style: italic;
                    margin-left: 50%;
                    text-align: justify;">
                        "Seu trabalho vai preencher uma parte grande da sua vida, e a única maneira de ficar realmente satisfeito é fazer o que você acredita ser um ótimo trabalho. E a única maneira de fazer um excelente trabalho é amar o que você faz."
                    </p>
                    <cite style="text-align: end;"> - Steve Jobs</cite>
                </blockquote>
            </article>

            <div id="devs">
                <h2 style="margin-bottom: 17px;">Desenvolvedores</h2>
                <div id="Separador">

                    <div class="dev">
                        <img class="imgDev" src="https://d3xt3er.github.io/paulojose.github.io/images/Eu.jpg">
                        <h2>Paulo José</h2>
                        <h3>Back-end</h3>
                        <div style="margin: 24px 0;">
                            <a href="https://www.linkedin.com/in/paulo-santos-258125189/" ><img title="linkedin" src="../img/icones/linkedin.png" alt=""></a>
                            <a href="https://github.com/d3xt3er"><img title="Github" src="../img/icones/Git.png" alt=""></a>
                        </div>
                        <p><button>Contact</button></p>
                    </div>
                    <div style="float: right;" class="dev">
                        <img class="imgDev" src="../img/Caio.jpeg">
                        <h2>Caio Corrêa</h2>
                        <h3>Front-End</h3>
                        <div style="margin: 24px 0;">
                            <a href="https://www.linkedin.com/in/caio-corrêa-jesus-4aa4731b2/"><img title="linkedin" src="../img/icones/linkedin.png" alt=""></a>
                            <a href="https://github.com/CaioCDJ"><img title="Github" src="../img/icones/Git.png" alt=""></a>
                        </div>
                        <p><button>Contact</button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>Copyright @Recyclo</footer>
</body>

</html>