<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="../img/LogoRecycloV1.png">
    <title>Recyclo - Sobre</title>
</head>

<body>
    <!--nav-->
    <ul>
        <li><a class="lia" href="../login_usuario/index.html">Entrar</a></li>
        <li><a class="lia" href="../mapa/index.html">Mapa</a></li>
        <li style="float:left"><img id="logo"onclick="location.replace('../index.html');" src="../img/LogoRecycloV1.png" alt=""></li>
        <li id="titulo" style="float:left"><a>Recyclo</a></li>
    </ul>
    <div id="home">
        <div id="intro">
            <img id="logoTitulo" src="../img/LogoRecycloV1.png" alt="">
            <h1>Recyclo</h1>
        </div>
        <div id="textSobre">
            <!-- nao sei o que escrever-->
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore sint inventore pariatur blanditiis laudantium obcaecati illum suscipit doloribus, necessitatibus ad adipisci. Commodi fugiat perferendis assumenda provident aspernatur id, doloribus
                nihil. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet rem pariatur eligendi necessitatibus ex itaque, quod ab eaque? Facere tenetur suscipit necessitatibus similique totam officiis velit optio doloribus temporibus? Et.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus unde, consequuntur incidunt adipisci id, fugiat consequatur molestiae dolor reprehenderit iste laudantium earum eius minima est? Neque magni quam reprehenderit architecto?
            </p>
            <div id="devs">
                <h2>Desenvolvedores</h2>
                <div id="Separador">

                    <div class="dev">
                        <img class="imgDev" src="https://d3xt3er.github.io/paulojose.github.io/images/Eu.jpg">
                        <h3>Paulo José</h3>
                        <div style="margin: 24px 0;">
                            <a href="#"><img src="../img/linkedin.png" alt=""></a> 
                            <a href="#"><img src="../img/Git.png" alt=""></a>  
                          </div>
                          <p><button>Contact</button></p>    
                    </div>
                    <div style="float: right;" class="dev">
                        <img class="imgDev" src="https://d3xt3er.github.io/paulojose.github.io/images/Eu.jpg">
                        <h3>Paulo José</h3>
                        <div style="margin: 24px 0;">
                            <a href="#"><img title="linkedin"src="../img/linkedin.png" alt=""></a> 
                            <a href="#"><img title="Github" src="../img/Git.png" alt=""></a>  
                          </div>
                          <p><button>Contact</button></p>    

                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>Copyright @Recyclo</footer>
</body>

</html>