
*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
body{
    background-color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: rgba(90, 190, 65);
    box-shadow: -7px 4px 16px #000;
}

#logo{
    height: 40px;
    width: 50px;
}
#titulo{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    letter-spacing: 2px;
    font-weight: 900;
  }

li {
    float: right;
  }

.lia{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.lia:hover {
    background-color: #111;
    border-radius: 10px;
}
#intro{
    background:url("../img/sobre.png") no-repeat;
    background-size: cover;
    background-position-y: center;
    height: 30vw;
    text-align: center;
}
#logoTitulo{
    height: 20vw;
}
h1{
    text-shadow: 3px 3px 7px #000;
    color: white;
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 800;
}

#textSobre{
    border-radius: 30px;
    height: 60vw;
    background: whitesmoke;
    margin: 20px;
    padding: 20px;
}
#textSobre p{
    font-size: 25px;
}
#devs{
    margin-top: 30px;
    text-align: center;
}
h2{
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 2px;
}
#Separador{
    display: inline-flex;
    width: 100%;
    border-radius: 15px;
    background: white;
}

.dev{
    padding: 30px;
    background: whitesmoke;
    text-align: center;
    width: -webkit-fill-available;
}
.imgDev{
    height: 25vw;
    border-radius: 60px;
}
.dev h3{
    font-size: 30px;
    font-weight: 800;
}
.link{
    height: 10vw;
}