<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="../img/LogoRecycloV1.png">
    <script src="../sweetalert.js"></script>
    <script src="../Cadastro/jquery-1.2.6.pack.js"></script>
    <script src="../Cadastro/jquery.maskedinput-1.1.4.pack.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto:wght@100&display=swap" rel="stylesheet">

    <title>Login</title>
</head>
<body>
    <div id="info">
        <img id="logo" title="home" onclick="home()" src="../img/LogoRecycloV1.png">
        <p>Ajude a tornar o mundo mais consciente</p>
    </div>
    
    <div id="retangulo">
    <h1>Login</h1>
        <ul>
            <li id="changeU"onclick="SwitchForm(false)" style="float: left; margin-left:5vw ;">Usuario</li>
            <li id="changeE"onclick="SwitchForm(true)"  style="float: right; margin-right:5vw ;">Empresa</li>
        </ul>
        <div id="formUsuario">
            <form id="formUsuario" method="POST">
                <input required type="text" placeholder="Email: usuario@example.com" autocomplete="off" id="email" name="email">
                <input required type="password" id="senha" placeholder="Senha:" name="senha">
                <input id="btnLogin" type="submit" value="Entrar">
            </form>
        </div>

        <div id="formEmpresa">
            <form id="formCompany" method="POST">
                <input required type="text" placeholder="Email: example@.com" id="razao" name="razao">
                <input  required type="password" id="senhaEmpresa" placeholder="Senha:" name="senhaEmpresa">
                <input id="btnLogin" type="submit" value="Entrar">
            </form>
        </div>
         <a href="../Cadastro/index.html">Nao tem uma conta?</a>
        <script src="js/index.js"></script>
</body>
</html>