* {
    margin: 0;
    padding: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Roboto', sans-serif;
}

body {
    background: url("../img/login.jpg") no-repeat;
    background-size: cover;
    display: flex;
}

#info {
    text-align: center;
    margin-left: 60px;
    margin-top: 70px;
    width: 43%;
}

img {
    width: 200px;
    height: 200px;
    cursor: pointer;
}

img:hover {
    opacity: 0.5;
}

p {
    margin-top: 50px;
    color: white;
    font-family: sans-serif;
    text-align: left;
    font-size: 45px;
}

#retangulo {
    border-radius: 50px;
    background: white;
    height: 83%;
    width: 44%;
    position: fixed;
    left: 53%;
    margin-top: 50px;
    text-align: center;
    border-top-right-radius: 0;
}

#logoMob {
    height: 70px;
    width: 87px;
    display: none;
}

h1 {
    margin-top: 5vw;
    letter-spacing: 2px;
    letter-spacing: 10px;
}

ul {
    margin-top: 3vw;
    list-style: none;
    width: auto;
    overflow: hidden;
}

li {
    color: black;
    background: #35d786;
    padding: 10px 4vw;
}

form {
    margin-bottom: 20px;
    text-align: center;
    margin-top: 25px;
}

form input {
    width: 72%;
    height: 45px;
    margin-top: 15px;
    border: 0;
    border-radius: 5px;
    font-weight: 800;
    font-size: 15px;
    padding-left: 5px;
}

#btnLogin {
    background: #35d786;
    font-size: 20px;
    cursor: pointer;
}

a {
    margin-top: 15px;
    color: black;
    font-size: 22px;
}


/*-- mobile vertical --*/

@media only screen and (max-width:600px) {
    #logoMob {
        position: relative;
        display: inherit;
        left: 35%;
        display: inherit;
    }
    body {
        background: white;
        background-size: initial;
    }
    #info {
        display: none;
    }
    #retangulo {
        height: 77%;
        width: 83%;
        left: 10%;
        margin-top: 50px;
    }
    h1 {
        margin-top: 10vw;
    }
    ul {
        margin-top: 7vw;
    }
    a {
        font-size: 22px;
    }
}


/*-- mobile horizontal --*/

@media only screen and (min-width:600px) and (max-width:900px) {
    #info {
        width: 40%;
    }
    #info img {
        width: 150px;
        height: 150px;
    }
    #info p {
        margin-top: 0;
        font-size: 25px;
    }
    #retangulo {
        height: 100%;
        width: auto;
        margin-top: 0;
    }
    form {
        margin-bottom: 0;
    }
    h1 {
        margin-top: 0;
    }
    #btnLogin {
        margin-bottom: 10px;
    }
}