<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="../DefautStyle.css">
    
    <link rel="icon" href="../img/LogoRecycloV1.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AijOdUHzY5DvlON3_9lG2KYowiYa4tVQJEDyckIt6enyt7lxUK0yXzMBgLnhTHqV' async defer></script>
    <script src="../sweetalert.js"></script>
    <script src="index.js"></script>
    <title>Mapa</title>
</head>

<body onload="GetMap()">

    <!-- navbar -->
    <ul id="nav">
        <li onclick="Logout()"><a class="lia">Sair</a></li>

        <li><a class="lia" href="../PerfilUsuario/index.html">Meu perfil</a></li>

        <li style="float:left"><img title="Inicio" id="logo" src="../img/LogoRecycloV1.png"></li>

        <li id="titulo" style="float:left"><a>Recyclo</a></li>
    </ul>

    <!-- Mapa -->
    <div id="myMap" style="height: 100%; position: absolute ">
    </div>
    <!-- informacoes ao clicar em algum icone do mapa -->
    <div id="infoMaps">
        <button id="btnFechar" onclick="fecharinfo()" title="fechar">X</button>

        <div id="infoPonto">
            <div id="image">
            </div>
            <h2 id="tituloEmp">aaaaaaaaaa</h2>
            <ul id="ulPonto">
                <li>E-mail:</li>
                <li id="emailEmpresa"></li>
            </ul>
            <ul id="ulPonto">
                <li>Telefone:</li>
                <li id="telefone"></li>
            </ul>
            <ul id="ulPonto">
                <li>Empresa:</li>
                <li id="nmEmpresa"></li>
            </ul>
            <ul id="ulPonto">
                <li>data de cadastro:</li>
                <li id="dtCriacao"></li>
            </ul>
        </div>
        <!-- Gerar Denucnia -->
        <div id="boxDenuncia">
            <form id="frmDenuncia" action="">
                <h2>Gerar Denuncia</h2>
                <input type="text" name="denuncia" id="denuncia">
                <input type="date" name="data-denuncia" id="data-denuncia">
                <input id="btnConfirm" class="btn" type="button" value="Gerar Denuncia ">
            </form>
            <button id="btnCancelar" class="btn" onclick="cancelarDenuncia()">Cancelar</button>

        </div>

    </div>
</body>

</html>