/*-- map config --*/
.infobox{
    text-align: center;
    border-radius: 5px;
    background:rgb(195, 201, 233,0.5);
    border-color: rgba(90, 190, 65);
    border-width: 5px;
}

#infoMaps{
    display: none;
    height: 100%;
    width: 30vw;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    padding: 10px;
    box-shadow: 5px 0px rgb(90 190 65 / 50%);
    border-radius: 20px;
    margin-left: 5px;
}
#image{
    margin-top: 25px;
    width: 100%;
    height: 300px;
    border-radius: 15px;
    background: url(../img/homeNext.jpg) no-repeat;
    background-size: cover;
}
#btnFechar{
    height: 20px;
    width: 20px;
    float: right;
    border-radius: 10px;
    border: 0;
    background: rgba(27, 32, 33) ;
    color: white;
}
#btnFechar:hover{
    background: white;
    color: black;
    transition: 1s;
}
#infoPonto{
    background: whitesmoke;
    border-radius: 15px;
    height: 300px;
    margin-top: 20px;
}
#ulPonto{
    width: 100%;
    list-style: none;
    display:flow-root;
    margin-top: 3px;
}
#ulPonto li{
    font-size: 20px;
    float: left;
}
#boxDenuncia{
    display: none;
}
#frmDenuncia{
    margin-top: 50px;
}
#frmDenuncia h2{
    margin-top: 20px;
}
input{
    width: 250px;
    height: 30px;
    margin-top: 5px;
}
.btn{
    width: 250px;
    height: 30px;
    border: 0;
    font-family: Roboto;
    font-size: 15px;
    border-radius: 5px;
}
#btnConfirm{
    background: rgba(90, 190, 65,0.8);
}
#btnConfirm:hover {
    background: rgba(90, 190, 65);
    transition: 1s;
}
#btnCancelar{
    margin-top: 10px;
    background: rgba(255, 44, 44, 0.8);
}
#btnCancelar:hover {
    transition: 1s;
    background: rgba(255, 44, 44)
}

#infobox{
    padding-top: 15px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-radius: 50px;
    border-bottom-left-radius: 0;
    height: 180px;
    width: 200px;
    background: rgba(255, 255, 255, 0.9);
}
#infobox img{
    width: 60px;
    height: 40px;
}
#infobox button{
    position: absolute;
    left: 0;
    bottom: 0;
    font-weight: 800;
    background: transparent;
    color: black;
    border: 0;
    width: 20px;
    height: 20px;
    border-radius: 50px;
}

#infobox button:hover{
    transition: 1s;
    color: white;
    background:black ;
    
}

#infobox h3{
    font-size: 17px;
}
#infobox h4{
    font-size: 15px;
}
#infobox p{
    font-size: 14px;
}
#btnDenuncia{
    width: 50px;
    height: 50px;
    border-radius: 15px;
    border: 0;
    background: url('../img/denuncia.png') no-repeat;
    background-size: cover;
}

#frmDenuncia {
    margin-top: 50px;
}

#frmDenuncia h2 {
    margin-top: 20px;
}

input {
    width: 250px;
    height: 30px;
    margin-top: 5px;
}
form textarea{
    margin: 0px;
    width: 380px;
    height: 254px;
    padding: 5px;
    margin-top: 5px;
    resize: none;
    font-size: 18px;
    border: 0;
    text-align: justify;
}
form input{
    width: 285;
}
