<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="../sweetalert.js"></script>
    <link rel="icon" href="../img/LogoRecycloV1.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AijOdUHzY5DvlON3_9lG2KYowiYa4tVQJEDyckIt6enyt7lxUK0yXzMBgLnhTHqV' async defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Recyclo - Empresa</title>
</head>

<body>
    <ul id="nav">
        <li><a class="lia" href="../Sobre/index.html">Sobre</a></li>
        <li><a class="lia" href="../mapa_empresa/index.html">Mapa</a></li>
        <li style="float:left"><img id="logo" src="../img/LogoRecycloV1.png" alt=""></li>
        <li id="titulo" style="float:left"><a>Recyclo</a></li>
    </ul>
    <div id="home">
        <h1>Bem vindo</h1>

        <h3>Dados da Empresa</h3>
        <div id="info">
            <ul>
                <input type="hidden" id="id_empresa">
                <li>Nome:</li>
                <li id="nomeEmpresa"></li>
            </ul>
            <ul>
                <li>CNPJ:</li>
                <li id="cnpj"></li>
                <li><a onclick="hideCnpj()" style="float: right;">?</a></li>
            </ul>
            <ul>
                <li>Telefone:</li>
                <li id="telefone"></li>
            </ul>
            <button id="btnEditar" class="btn" onclick="EditarInfo()">Editar</button>
            <button id="btnExcluir" class="btn" style="float: left;">Excluir Conta</button>
        </div>
        <div id="myMap"></div>
        <h2>Pontos de coleta</h3>
            <div id="pontoColeta">

                <div id="pontos">

                </div>
                <button id="btnAddPonto" class="btn" onclick="adicionarPonto()">Adicionar Ponto</button>
            </div>
    </div>
    <script src="../mapa_empresa/index.js"></script>
    <script src="index.js"></script>
</body>

</html>