* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body {background: white}
/*-- navbar --*/
#nav {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: rgba(90, 190, 65);
    box-shadow: -7px 4px 16px #000;
}

li {
    float: right;
}

.lia {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.lia:hover {
    background-color: rgb(83, 83, 83);
    border-radius: 5px;
    transition: 1.2s;
}

#logoTitulo {
    height: 20vw;
}

#logo {
    height: 45px;
    width: 47px;
}

#titulo {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    letter-spacing: 2px;
    font-weight: 900;
}

#home {
    background: white;
    margin: 30px 10% 10% 10%;
    text-align: center;
    padding: 20px;
}
h3{
    margin-top: 40px;
    margin-left: 5px;
    text-align: left;
    font-size: 25px;
}
#info div{
    margin-top: 30px;
}
#info ul{
    list-style: none;
    display: flow-root;
    margin-top: 5px;
    height: 60px;
    border-radius: 5px;
}
#info ul li{
    float: left;
    height: 50px;
    font-size: 25px;
    padding: 15px 5px 0 5px;
    padding-top: 15px;
    padding-left: 5px;
}
#info ul li img{height: 30px;}
.btn{
    float: right;
    height: 50px;
    width: 150px;
    font-size: 20px;
    border-radius: 5px;
    border: 0;
    background: rgba(90, 190, 65, 0.8);
}
.btn:hover{
    background: rgba(90, 190, 65);
    transition: 1s;
}
#btnExcluir{ background: rgba(255, 44, 44, 0.5);}
#btnExcluir:hover{
    transition: 1s;
    background: rgba(255, 44, 44, 0.8);
}
.infobox {
    text-align: center;
    border-radius: 5px;
    background: rgb(195, 201, 233, 0.5);
    border-color: rgba(90, 190, 65);
    border-width: 5px;
}
#image {
    margin-top: 25px;
    width: 100%;
    height: 300px;
    border-radius: 15px;
    background: url(../img/homeNext.jpg) no-repeat;
    background-size: cover;
}

#myMap{
    width: -webkit-fill-available;
    height: 350px;
    margin-top: 70px;
}
h2{margin-top: 75px}
#pontoColeta{
    margin-top: 15px;
    background: whitesmoke;
}
#pontos{
    height: 350px;
    overflow: auto;
    overflow-x: hidden;
    padding: 10px;
    border-radius: 15px;
}

.ponto {
    padding: 5px;
    display: flow-root;
    list-style: none;
}

.ponto:hover {
    background: white;
    border-radius: 5px;
}

.ponto li {
    float: left;
}
.logra {
    margin-top: 5px;
}

.PontoIcone {
    height: 30px;
    border-radius: 3px;
    margin-right: 5px;
}

.PontoIcone:hover {
    background: whitesmoke;
    transition: 1s;
}
#btnAddPonto{margin-top: 10px;}
.txtEditar {
    margin-top: 10px;
    height: 35px;
    width: 300px;
    padding: 3px;
    font-size: 20px;
    border-radius: 5px;
}


#infobox{
    padding-top: 15px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-radius: 50px;
    border-bottom-left-radius: 0;
    height: 180px;
    width: 200px;
    background: rgba(255, 255, 255, 0.9);
}
#infobox img{
    width: 60px;
    height: 40px;
}
#infobox button{
    position: absolute;
    left: 0;
    bottom: 0;
    font-weight: 800;
    background: transparent;
    color: black;
    border: 0;
    width: 20px;
    height: 20px;
    border-radius: 50px;
}
#infobox button:hover{
    transition: 1s;
    color: white;
    background:black ;
    
}
#infobox h3{
    font-size: 17px;
}
#infobox h4{
    font-size: 15px;
}
#infobox p{
    font-size: 14px;
}
#mobNav{display: none;}
#mob{display: none;}
@media only screen and (max-width:600px) {

    .lia{display: none;}
    #mob{
        border-radius: 5px;
        height: 50px;
        display: initial;}
    #mob img{height: 50px;}
    #mob:active{
        background: rgba(245, 245, 245, 0.479);
    }
    #navMob{
        display: none;
        width: 200px;
        position: absolute;
        height: 380px;
        right: 0;
        list-style: none;
        text-align: center;
        padding: 10px;
        background: rgba(245, 245, 245, 0.822);
    }
    #navMob li{
        height: 75px;
        width: 100%;
        padding-top: 30px;
        border-radius: 5px;
    }
    #navMob li:hover{
        background: #5ABE41;
    }
    #navMob a{
        color: black;
        text-decoration: none;
        font-size: 25px;
        letter-spacing: 2px;
        font-weight: bolder;
    }
    .btn{
        width: 100%;
        margin-top: 5px;
    }
    #myMap{margin-top: 140px;}
    h2{margin-top: 21px;}
}