<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="../img/LogoRecycloV1.png">
    <title>Cadastro Empresa</title>
</head>
<body>
    <div>
        <form onsubmit="login()" method="GET">
            <h3>Cadastro</h3>
            <input class="input" required type="text" placeholder="Razão Social:" id="Nome" name="nome">
            <input class="input" required type="text" placeholder="Email:example@.com" id="Email" name="Email">
            <input class="input" required type="number" placeholder="CNPJ: " id="Cnpj" name="Cnpj">
            <input class="input" required type="password" placeholder="Senha:" id="senha" name="senha">
            <input class="input" required type="password" placeholder="Confirme a sua senha: " id="ConfirmarSsenha" name="ConfirmarSenha">
            <input id="btnCadastrar" type="submit" value="Criar Conta">
            
        </form>
    </div>
</body>
</html>