* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


body{
    background: url("../img/Cadastro.jpg") no-repeat;
    background-size: cover;
}

div {
    opacity: 0.9;
    border-radius: 15px;
    width: 50vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%,20%);
    background-color: white;
    padding: 10px;
}

h3 {
    font-family: sans-serif;
    font-size: 25px;
}

.input {
    width:40vw;
    height: 50px;
    margin-top: 30px;
    font-size: medium;
    padding-left: 3px;
    border: 0;
}

#btnCadastrar{
    width:40vw;
    height: 50px;
    margin-top: 30px; 
    border: 0;
    border-radius: 6px;
    background-color:rgb(90, 190, 65);
    font-size: larger;
    font-weight: 500;
    display: inline-block;
    opacity: 6;
}
#btnCadastrar:hover{
    transition: 2s;
    background-color:rgb(81, 143, 66) ;
}

/* -- mobile --*/

@media only screen and (max-width: 600px){
    body{
        background: url("../img/Login.jpg");
    }

    div{
        top: -60px;
        width: 75vw;
    }
    .input{
        width: 65vw;
    }
    #btnCadastrar{
        width: 65vw;
    }
}