<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="../sweetalert.js"></script>
    <title>Recyclo - Perfil</title>
</head>
<body>    
<!--
    tela provisoria
-->
<ul id="nav">
    <li><a class="lia" onclick="sair()">Sair</a></li>
    <li><a class="lia" href="../Sobre/index.html">Sobre</a></li>
    <li><a class="lia" href="../mapa/index.html">Mapa</a></li>
    <li style="float:left"><img id="logo"onclick="location.replace('../index.html');" src="../img/LogoRecycloV1.png" alt=""></li>
    <li id="titulo" style="float:left"><a>Recyclo</a></li>
</ul>
    <div id="home">
        <h1>Bem vindo(a), Oliver</h1>
        <div id="info" >
            <!-- testando display de informacoes-->
            <ul>
                <li>Nome:</li>
                <li id="nome">aaaaaaaaaaaa</li>
                <li style="float: right;"id="telefone">565442124514</li>
                <li style="float: right;">Telefone:</li>
            </ul>
            <ul>
                <li>Email:</li>
                <li id="email">oliver@gmail.com</li>
            </ul>
            <ul>
                <li >Cpf:</li>
                <li  id="cpf">562356342515</li>
            </ul>

            <button id="btnExcluir" class="btn" onclick="excluirConta()">Excluir Conta</button>
            <button id="btnEditar"  class="btn" onclick="alterarConta()">Editar Conta</button>
            
        </div>
    </div>
    <script src="index.js"></script>
</body>
</html>