* {
    margin: 0;
    padding: 0;
    /* font-family: Arial; */
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: white;
}
#nav {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: rgba(90, 190, 65);
    box-shadow: -7px 4px 16px #000;
}

#nav li {
    float: right;
}

.lia {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.lia:hover {
    background-color: rgb(83, 83, 83);
    border-radius: 5px;
    transition: 1.2s;
}

#logoTitulo {
    height: 20vw;
}

#logo {
    height: 45px;
    width: 47px;
}
#logo:hover{opacity: 0.8;}

#titulo {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    letter-spacing: 2px;
    font-weight: 900;
}
#home {
    background: white;
    margin: 30px 10% 10% 10%;
    text-align: center;
    padding: 20px;
}
h3{
    margin-top: 50px;
    margin-left: 5px;
    text-align: left;
    font-size: 25px;
}
#home div{
    margin-top: 30px;
}
#home ul{
    list-style: none;
    display: flow-root;
    margin-top: 5px;
    height: 60px;
    border-radius: 5px;
}
#home ul li{
    float: left;
    height: 50px;
    font-size: 25px;
    padding: 15px 5px 0 5px;
    padding-top: 15px;
    padding-left: 5px;
}
#btnSenha{
    border: 0;
    border-radius: 2px;
    height: 35px;
    font-size: 30px;
}
.btn{
    margin-top: 10px;
    height: 50px;
    width: 150px;
    font-size: 15px;
    font-weight: 900;
    border-radius: 5px;
    border: 0;
    background: transparent;
    float: right;
}

#btnEditar {
    margin-left: 15px;
    background: rgba(90, 190, 65, 0.8);
    margin-right: 10px;
}

#btnEditar:hover {
    background: rgba(90, 190, 65);
    transition: 1s;
}
#btnEditarSenha {
    margin-left: 15px;
    background: rgba(90, 190, 65, 0.8);
    margin-right: 10px;
}

#btnEditarSenha:hover {
    background: rgba(90, 190, 65);
    transition: 1s;
}


#btnExcluir {
    background: rgba(255, 44, 44, 0.5);
}

#btnExcluir:hover {
    transition: 1s;
    background: rgba(255, 44, 44,0.8)
}
#btnSenha:hover{background:white;}
input{
    width: 29vw;
    height: 40px;
    padding-left: 5px;
    margin-top: 5px;
}

@media only screen and (max-width:600px) {
    
    #home{padding: 10px;}
    #home ul{height: 50px;}
    #home ul li{font-size: 20px;}
    .btn{width: 120px;}
    #btnEditar{
        margin-left: 0;
        margin-right: 0;
        float: left;}
    input{
        width: 65vw;
        height: 38px;}
}