body{text-align: center;}
#logoTitulo {
    height: 20vw;
}

#logo {
    height: 45px;
    width: 47px;
}
#logo:hover{opacity: 0.8;}

#titulo {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    letter-spacing: 2px;
    font-weight: 900;
}
#home {
    background: white;
    margin: 30px 10% 10% 10%;
    text-align: center;
    padding: 20px;
    display: flow-root;
    
}
h3{
    margin-top: 50px;
    margin-left: 5px;
    text-align: left;
    font-size: 25px;
}
#home div{
    margin-top: 30px;
}
.dados{
    list-style: none;
    display: flow-root;
    margin-top: 5px;
    height: 60px;
    border-radius: 5px;
}
.dados li{
    float: left;
    height: 50px;
    font-size: 25px;
    padding: 15px 5px 0 5px;
    padding-top: 15px;
    padding-left: 5px;
}
#btnSenha{
    background-size: cover;
    border: 0;
    border-radius: 2px;
    height: 35px;
    font-size: 30px;
}
.btn{
    margin-top: 10px;
    height: 50px;
    width: 150px;
    font-size: 15px;
    font-weight: 900;
    border-radius: 5px;
    border: 0;
    background: transparent;
    float: right;
}

#btnEditar {
    margin-left: 15px;
    background: rgba(90, 190, 65, 0.8);
    margin-right: 10px;
}

#btnEditar:hover {
    background: rgba(90, 190, 65);
    transition: 1s;
}
#btnEditarSenha {
    margin-left: 15px;
    background: rgba(90, 190, 65, 0.8);
    margin-right: 10px;
}

#btnEditarSenha:hover {
    background: rgba(90, 190, 65);
    transition: 1s;
}


#btnExcluir {
    background: rgba(255, 44, 44, 0.5);
}

#btnExcluir:hover {
    transition: 1s;
    background: rgba(255, 44, 44,0.8)
}
#btnSenha:hover{background:white;}
input{
    width: 23vw;
    height: 40px;
    padding-left: 5px;
    margin-top: 5px;
}

#denuncias{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    margin-bottom: 0;
    margin-top: 15px;
    text-align: center;
    box-shadow: thistle;
    height: 400px;
    overflow:auto;
    overflow-x: hidden;
}
#h3Denuncia {
    margin-top: 98px;
    text-align: center;
    margin-bottom: 20px;
}
.denuncia{
    padding:0px 0px 5px 5px;
    text-overflow: ellipsis;
    list-style: none;
    width: 100%;
    display: inline-block;
    font-size: 20px;
}
.denuncia:hover{
    transition: 1s;
    background:whitesmoke;
}
.logra{
    max-width: 330px;
    float: left;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
}
.dat{
    margin-right: 5px;
    float: right;
}
.denuncia img{
    margin-right: 10px;
    height: 30px;
    float: right;
}

@media only screen and (max-width:600px) {
    #sair:hover{
        background: rgba(255, 44, 44,0.8);
    }
    #home{
        padding: 10px;}
    #home ul{
        height: 50px;}
    #home ul li{
        font-size: 20px;}
    .btn{
        width: 100%;}
    #btnEditar{
        margin-left: 0;
        margin-right: 0;
        float: left;}
    #btnEditarSenha{margin-right: 0;}
        input{
        width: 65vw;
        height: 38px;}
}