<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="../img/LogoRecycloV1.png">
    <title>Seja bem vindo a Recyclo</title>
</head>
<body>

    <!-- menu superior// navbar-->
    <div id="Intro">
        <img id="logo" src="../img/LogoRecycloV1.png">
        <h1> Bem vindo a Recyclo</h1>
    </div>

    <!-- mensagem generica de bem vindo/ mapa anonimo -->
    <div id="Home" class="Divs">
        <div id="homeOpacity">
            <p>
                <-- SAMPLE TEXT -->
            </p>
        
            <button id="btnGomap" class="btn">Abrir o mapa</button>
        </div>
    </div>

    <!-- login/ criar conta -->
    <div id="Conta" class="Divs">
        <p>Se você deseja nos ajudar a criar um mundo mais consciente crie uma conta</p>
        <div id="Entrar_Login">
            <img id="imgPerfil" src="../img/perfil.png">
            <button id="Login" class="btn">Entrar</button>
            <button id="CriarConta" class="btn" >Criar Conta</button>
        </div>
    </div>
    
    <!-- Sobre/fim -->
    <div class="Divs">

    </div>

    <script src="index.js"></script>
</body>
</html>