*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.Divs{
    height: 40vw;
}

.btn{
    width: 17vw;
    height: 65px;
    background-color:rgba(90, 190, 65, 0.8);
    border: 0;  
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 900;
}
.btn:hover{
    transition: 1s;
    background-color:rgb(90, 190, 65) ;
}

#Intro{
    margin-top: 2%;
    text-align: center;
}

#logo{
    align-self: center;
    width: 10vw;
    height: 10vw;
}

/* -- Imagem provisoria 
        retirada da unsplash --*/
#Home{
    background: url("https://t2.tudocdn.net/56454?w=646&h=284") no-repeat;
    background-size: cover;
    background-position-y: center;
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
}

#homeOpacity{
    background-color: black;
    height: 25vw;
    opacity: 0.5;
}

#Conta{
    background: url("../img/login.jpg") no-repeat;
    background-position-y: center;
    background-size: cover;
    padding: 30px;
    display: flex;
}
#Conta p{
    font-family: sans-serif;
    color: white;
    font-weight: 1000;
    font-size: 50px;
    width: 50vw;
    margin-top: 50px;
    opacity: 0.8;
}

#Entrar_Login{
    text-align: center;
    width: 50%;
    white-space: pre-wrap;
    background-color:rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 50px;
}
#Entrar_Login button{
    margin-top: 15px;
}

#imgPerfil{
    margin-top: 20px;
    height: 130px;
    opacity: 0.9;
    background-color: white;
    border-radius: 50px;
}

