<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="../img/LogoRecycloV1.png">
    <script src="../sweetalert.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="jquery-1.2.6.pack.js"></script>
    <script src="jquery.maskedinput-1.1.4.pack.js"></script>

    <title>Cadastro</title>
</head>

<body>
    <div id="esquerda">
        <img src="../img/LogoRecycloV1.png" onclick="location.replace('../index.html');">
        <!-- Div com mesagem generica sobre o meio ambiente-->
        <p> Nos ajude a tonar um mundo um lugar mais ecologico</p>
    </div>

    <Div id="direita">
        <!-- Selecao de cadastro-->
        <div id="quadrado">

            <!--Aplicar hover e transformar em divs -->
            <div id="selecao">

                <a id="changeU" onclick="SwitchForm(false)">Usuario</a>   
                <a id="changeE" onclick="SwitchForm(true)">Empresa</a>
            </div>

            <!-- cadastro de Usuarios -->
            <div id="formUsuario">
                <form id="formUser" method="POST">
                    <h3>Cadastro</h3>

                    <input class="input" required type="text" placeholder="Nome:" id="nome" name="nome">
                    <input class="input" required type="text" placeholder="Email:example@.com" id="email" name="email">
                    <input class="input" required type="text" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" title="Digite o CPF no formato XXX.XXX.XXX-XX" placeholder="CPF:" id="cpf" name="cpf">
                    <input class="input" required type="password" placeholder="Senha:" id="senha" name="senha">
                    <input class="input" required type="password" placeholder="Confirme a sua senha: " id="ConfirmarSsenha" name="ConfirmarSenha">
                    
                    <input id="btnCadastrar" class="BtnOk" type="submit" value="Criar Conta">
                </form>
            </div>

            <!-- Cadastro de empresas -->
            <div id="formEmpresa">
                <form id="formEmpresa" method="POST" type="hidden" name="formEmpresa">
                    <h3>Cadastro de Empresas</h3>

                    <input class="input" required type="text" placeholder="Razão Social:" id="razao" name="razao">
                    <input class="input" required type="text" placeholder="Email:example@.com" id="Email" name="Email">
                    <input class="input" required type="text" placeholder="CNPJ: " id="cnpj" name="cnpj">
                    <input class="input" required type="password" placeholder="Senha:" id="Senha" name="Senha">
                    <input class="input" required type="password" placeholder="Confirme a sua senha: " id="ConfirmarSsenha" name="ConfirmarSenha">

                    <input id="btnCadastrar" class="BtnOk" type="submit" value="Criar Conta">
                </form>
            </div>

        </div>
        <button id="btnLogin" onclick="location.replace('../login_usuario/index.html');"> Ja tem uma conta? </button>
    </div>
    <script src="index.js"></script>
</body>

</html>