* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#esquerda {
    background: url("../img/imgCadastro.jpg") no-repeat;
    background-size: cover;
    width: 45%;
    height: 100%;
    position: absolute;
}

#logoMob {
    display: none;
}

.home {
    width: 30px;
    height: 30px;
    margin-left: 819px;
    margin-top: 103px;
    cursor: pointer;
}

img {
    width: 15vw;
    height: 15vw;
    opacity: 0.8;
    margin-left: 12vw;
}

p {
    margin-top: 15px;
    opacity: 0.8;
    font-family: sans-serif;
    font-size: 4vw;
    color: white;
    width: 70%;
    text-align: center;
    font-weight: bolder;
    margin-left: 3.5vw;
}

#direita {
    background: white;
    width: 55%;
    height: 100%;
    position: absolute;
    left: 40%;
    align-items: center;
    text-align: center;
}

#quadrado {
    border-radius: 15px;
    margin-left: 20px;
}

#selecao {
    display: inline-block;
    margin-top: 15px;
}

a {
    border-radius: 4px;
    padding: 10px 7vw;
}

a:hover {
    background-color: #35d786;
    transition: 1s;
    cursor: pointer;
    border-radius: 5px;
}

form {
    margin-top: 15px;
    padding: 10px;
}

input {
    width: 48vw;
    height: 50px;
    margin-top: 15px;
    padding-left: 5px;
    border: 0;
    border-radius: 10px;
}

.BtnOk {
    width: 48vw;
    height: 50px;
    border: 0;
    border-radius: 10px;
    background-color: rgba(90, 190, 65, 0.8);
    font-size: larger;
    font-weight: 500;
    display: inline-block;
    opacity: 6;
    cursor: pointer;
    border-radius: 5px;
}

.BtnOk:hover {
    transition: 1s;
    background-color: rgb(90, 190, 65);
}

#btnLogin {
    width: 48vw;
    height: 50px;
    margin-left: 20px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(41, 120, 160);
    font-size: larger;
    font-weight: 500;
    display: inline-block;
}

#btnLogin:hover {
    background-color: rgb(14, 108, 216);
    transition: 1s;
}


/*-- Mobile --*/

@media only screen and (max-width:600px) {
    body {
        padding: 20px;
        background-color: whitesmoke;
    }
    .home {
        width: 30px;
        height: 30px;
        margin-left: 10px;
        margin: 2px;
        cursor: pointer;
    }
    #esquerda {
        display: none;
    }
    #direita {
        width: 80%;
        height: fit-content;
        left: 10%;
        display: inline-block;
        border-radius: 10px;
    }
    #selecao {
        display: inline-flex;
    }
    a {
        padding: 5px 7vw;
    }
    input {
        height: 40px;
    }
    .BtnOk {
        height: 40px;
        background-color: rgb(90, 190, 65);
    }
    #btnLogin {
        height: 40px;
        margin-top: 0;
        margin-bottom: 15px;
        background-color: rgb(14, 108, 216);
    }
    #logoMob {
        display: initial;
        height: 23vw;
        width: 82px;
        margin-left: 0;
    }
}