* {
    margin: 0;
    padding: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Roboto', sans-serif;
}

body {
    background: url("../img/imgCadastro.jpg") no-repeat;
    background-size: cover;
    display: flex;
}

#info {
    text-align: center;
    margin-left: 60px;
    margin-top: 70px;
    width: 43%;
}

img {
    width: 200px;
    height: 200px;
    cursor: pointer;
}

img:hover {
    opacity: 0.5;
}

p {
    margin-top: 50px;
    color: white;
    font-family: sans-serif;
    text-align: left;
    font-size: 45px;
}

#retangulo {
    border-radius: 15px;
    background: white;
    height: 83%;
    width: 44%;
    position: fixed;
    left: 53%;
    margin-top: 50px;
    text-align: center;
}

#logoMob {
    height: 70px;
    width: 87px;
    display: none;
}

h1 {
    margin-top: 2vw;
    letter-spacing: 10px;
}

ul {
    margin-top: 15px;
    list-style: none;
    width: auto;
    overflow: hidden;
}

li {
    color: black;
    background: #35d786;
    padding: 10px 4vw;
}

form {
    margin-bottom: 15px;
    margin-top: 15px;
}

input {
    width: 72%;
    height: 45px;
    margin-top: 5px;
    padding-left: 5px;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
}

#btnCadastrar {
    background: #35d786;
    font-size: 20px;
    cursor: pointer;
}

#btnCadastrar:hover {
    opacity: 0.8;
}

a {
    margin-top: 15px;
    color: black;
    font-size: 22px;
}


/*-- mobile vertical --*/

@media only screen and (max-width:600px) {
    #logoMob {
        position: relative;
        display: inherit;
        left: 35%;
        display: inherit;
    }
    body {
        background: white;
        background-size: initial;
    }
    #info {
        display: none
    }
    #retangulo {
        height: auto;
        width: 83%;
        left: 10%;
        margin-top: 30px;
        padding-bottom: 15px;
    }
    a {
        font-size: 22px;
    }
    li {
        padding: 10px 9vw;
    }
}

@media only screen and (min-width:600px) and (max-width:900px) {
    #info img {
        height: 150px;
        width: 150px;
    }
    #info p {
        margin-top: 0;
        font-size: 20px;
    }
    #retangulo {
        position: absolute;
        height: auto;
        width: auto;
        margin-top: 0;
        border-radius: 0;
    }
}