<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="../img/LogoRecycloV1.png">
    <script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AijOdUHzY5DvlON3_9lG2KYowiYa4tVQJEDyckIt6enyt7lxUK0yXzMBgLnhTHqV' async defer></script>
    <script src="../sweetalert.js"></script>
    <script src="index.js"></script>
    <title>Map</title>
</head>
<body onload="GetMap()">
    
    <!-- navbar -->
    <ul>
        <li><a class="lia" href="../login_usuario/index.html">Entrar</a></li>
        <li><a class="lia" href="#contact">Sobre</a></li>
        <li style="float:left" onclick="location.replace('../index.html');"><img id="logo" src="../img/LogoRecycloV1.png"></li>
        <li id="titulo" style="float:left"><a >Recyclo</a></li>
    </ul>

    <!-- Mapa -->
    <div id="myMap" style="height: 100%; position: absolute ">
        
    </div>
</body>
</html>