<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="../img/LogoRecycloV1.png">
    <!-- nao sei por que mas o bing nao reconhece minha key
        <script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap&branch=experimental&key=[AtG4ndldNlNi6znKdOGam3tgqhWWlUTzTPA4gIYt94uCwnekHHqL5XEWsdw8s-Om]' async defer></script>
    -->
    <script src="index.js"></script>
    <title>Map</title>
</head>
<body >
    <!-- navbar -->
    <ul id="navbar">
        <img style="float:left" id="icone" src="../img/LogoRecycloV1.png" >
        <li><a href="">Sobre</a></li>
        <li><a href="">Entrar</a></li>
        <li><a href="">Perfil</a></li>
    </ul>

    <div id="map">
        
    </div>
</body>
</html>