<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="../img/LogoRecycloV1.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AijOdUHzY5DvlON3_9lG2KYowiYa4tVQJEDyckIt6enyt7lxUK0yXzMBgLnhTHqV' async defer></script>
    <script src="../sweetalert.js"></script>
    <script src="index.js"></script>
    <title>Mapa</title>
</head>

<body onload="GetMap()">

    <!-- navbar -->
    <ul id="nav">
        <li onclick="Back()"><a class="lia">Voltar</a></li>

        <li><a class="lia" href="../Sobre/index.html">Sobre</a></li>

        <li style="float:left"><img title="Inicio" onclick="window.location.assign('../index.html')" id="logo" src="../img/LogoRecycloV1.png"></li>

        <li id="titulo" style="float:left"><a>Recyclo</a></li>
    </ul>

    <!-- Mapa -->
    <div id="myMap" style="height: 100%; position: absolute">
    </div>
    
 <!-- inforbox
    <div id="infobox">
        <button>X</button>
        <h3>{nome}</h3>
        <img src="../img/homeNext.jpg">
        <h4>Endereço:</h4>
        <p>{endereco}</p>
    </div>
-->


</body>

</html>