<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="../img/LogoRecycloV1.png">
    <script src="../sweetalert.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto:wght@100&display=swap" rel="stylesheet">

    <title>Login</title>
</head>

<body>

    <div id="esquerda">
        <img id="logoDesk" onclick="window.location.assign('../index.html')" title="Home" src="../img/LogoRecycloV1.png">
        <!-- Div com mesagem generica sobre o meio ambiente-->
        <p>Ajude a tornar o mundo mais consciente</p>
    </div>

    <Div id="direita">
        <!-- Selecao de cadastro-->
        <div id="quadrado">

            <!-- cadastro de Usuarios -->
            <div id="formUsuario">
                <img id="logoMob" src="../img/LogoRecycloV1.png"onclick="window.location.assign('../index.html')"  alt="">
                <form id="form" method="POST">
                    <h2>Login</h2>
                    <input class="input" required type="text" placeholder="Email: example@example.com" id="nome" name="nome">
                    <input class="input" required type="password" id="senha" placeholder="Senha:" name="senha">
                    <input id="btnLogin" class="BtnOk" type="submit" value="Entrar">
                </form>

            </div>
            <button id="btnCadastrar" onclick="window.location.assign('../Cadastro/index.html');"> Não tem uma conta? </button>

        </div>
        <script src="js/index.js"></script>
</body>

</html>