<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="../img/LogoRecycloV1.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Login - Pessoa</title>
    <script src="js/index.js"></script>
</head>

<body>
    <div>

        <form id="form" method="POST">
            <img src="../img/LogoRecycloV1.png" alt="Voltar para inicial" onclick="location.replace('../index.html')">

            <h2>Login</h2>
            <input class="input" required type="text" placeholder="Email:example@example.com" id="nome" name="nome">
            <input class="input" required type="password" id="senha" placeholder="Senha:" name="senha">
            <input id="btnLogin" type="submit" value="Entrar">
        </form>

        <button id="btnCadastro" onclick="location.replace('../Cadastro/index.html');">Criar Conta</button>


    </div>
</body>

</html>