* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: white;
}
#esquerda {
    background: url("../img/login.jpg") no-repeat;
    background-size: cover;
    width: 45%;
    height: 100%;
    background-position-x: right;
    position: absolute;
}

#logoDesk {
    width: 15vw;
    height: 15vw;
    opacity: 0.8;
    margin-left: 12vw;
    cursor: pointer;
}
#logoMob{
    display: none;
}

p {
    margin-top: 15px;
    opacity: 0.8;
    font-family: sans-serif;
    font-size: 4vw;
    color: white;
    width: 70%;
    text-align: left;
    font-weight: bolder;
    margin-left: 3.5vw;
}

#direita {
    background:white;
    width: 55%;
    height: 100%;
    position: absolute;
    left: 40%;
    align-items: center;
    text-align: center;
}

#quadrado {
    margin-left: 30px;
    margin-top: 15%;
}

form {
    margin-top: 2vw;
    padding: 10px;
}

h2{
    letter-spacing: 10px;
    font-weight: 900;
    font-size: 3vw;
}

input {
    width: 47vw;
    height: 50px;
    margin-top: 15px;
    padding-left: 5px;
    border: 0;
    border-radius: 5px;
}

.BtnOk {
    width: 47vw;
    height: 50px;
    margin-top: 30px;
    border-radius: 5px;
    border: 0;
    background-color:rgba(90, 190, 65, 0.8);
    font-size: larger;
    font-weight: 500;
    display: inline-block;
    opacity: 6;
    cursor: pointer;
}

.BtnOk:hover {
    transition: 1s;
    background-color:rgb(90, 190, 65) ;
}

#btnCadastrar {
    width: 47vw;
    height: 50px;
    margin-bottom: 15px;
    border: 0;
    border-radius: 5px;
    background-color: rgba(41, 120, 160, 0.8);
    font-size: larger;
    font-weight: 500;
    display: inline-block;
    cursor: pointer;
}
#btnCadastrar:hover{
    background-color: rgb(41, 120, 160);
    transition: 1s;
}

/*-- Mobile --*/

@media only screen and (max-width:600px) {
    body{
        padding: 20px;
        background-color: whitesmoke;
    }
    #quadrado{
        margin-left: 0;
    }
    #esquerda{
        display: none;
    }

    h2{
        font-size: xx-large;
    }
    #formUsuario{
        border-radius: 15px;
        background-color: white;
    }
    #direita{
        border-radius: 10px;
        width: 80%;
        height: 90%;
        left: 10%;
        display: inline-block;
        margin-top: 7%;
    }
    input{
        height:40px ;
    }
    .BtnOk{
        height:40px ; 
        background-color:rgb(90, 190, 65) ;
    }
    #btnCadastrar{
       height:40px ;
       margin-top: 0;
       background-color: rgb(41, 120, 160);
    }
    #logoMob{
        display: initial;
        height: 20vw;
    }

}
