<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="../img/LogoRecycloV1.png">
    <script src="../sweetalert.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Esqueceu a senha</title>
</head>
<body>
    
    <div id="frm">
       <img src="../img/LogoRecycloV1.png" >
        <form method="post">
            <input id="email" placeholder="Email:" type="email" required>
            <input id="novaSenha" placeholder="Nova Senha:" type="password" disabled>
            <input id="novaSenhaRepeat" placeholder="Repita sua nova senha:" type="password" disabled>
            <input id="btn" type="submit">
        </form>
        <br>
        <button class="btn" >Voltar</button>
    </div>
    <script src="index.js"></script>
</body>
</html>