
div{
    position: absolute;
    left: 25%;
    right: 25%;
    top: 20%;
    background: whitesmoke;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}
img{
    height: 70px;
}
form{
    padding: 20px;
    text-align: center;
}
form input{
   width: 100%;
    font-size: 18px;
    height: 40px;
    margin-top: 5px;
    border: 0;
    border-radius: 5px;
}
#btn{ background: #35d786;
    cursor: pointer;
    font-weight: 600;

}

.btn {
    background: #35d786;
        cursor: pointer;
        font-size: 18px;
        height: 40px;
        width: 100px;
        margin-top: 5px;
        font-weight: 600;
        border: 0;
        border-radius: 5px;
    }



#btn:hover{
    background: #2ba568;
    transition: 0.5s;
}

@media only screen and (max-width:600px) {
    div{
        left: 5%;
        right: 5%;
    }
    form input{
        height: 30px;
        width: 200px;
    }

}