
div{
    position: absolute;
    left: 25%;
    right: 25%;
    top: 20%;
    background: whitesmoke;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}
img{
    height: 70px;
}
form{
    padding: 20px;
    text-align: center;
}
form input{
   width: 100%;
    font-size: 18px;
    height: 40px;
    margin-top: 5px;
    border: 0;
    border-radius: 5px;
}
#btn{ background: #35d786;
}
@media only screen and (max-width:600px) {
    div{
        left: 5%;
        right: 5%;
    }
    form input{
        height: 30px;
        width: 200px;
    }

}