* {
    margin: 0;
    padding: 0;
    /* font-family: Arial; */
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

#nav {
    background-color: transparent;
}
#navbarNavAltMarkup{
    text-align: right;
}
#navbarNavAltMarkup a{
    color: white;
    font-size: 20px;
    font-weight: 800;
}

#navMob{
    display: none;
}

#offcanvasNavbar{
    background: rgba(0, 0, 0, 0.247);
}
#offcanvasNavbar li a {
    color: white;
    font-weight: 1000;
    font-size: 30px;
    text-align: right;
    font-family: arial;
    letter-spacing: 3px;
}
#offcanvasNavbar li a:active{
    background: #5abe415b;
    transition: 1s;
}
#titulo {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    letter-spacing: 5px;
    font-weight: bolder;
}

@media only screen and (max-width:600px) {
    #navMob{
        display: initial;
    }
    #nav{
        display: none;
    }
}