<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="img/LogoRecycloV1.png">
    <title>Seja bem vindo a Recyclo</title>
</head>
<body>

    <div id="Home" class="Divs">
        <!-- menu superior -->
        <ul>
            <li><a class="lia" href="#home">Entrar</a></li>
            <li><a class="lia" href="#news">Mapa</a></li>
            <li><a class="lia" href="#contact">Sobre</a></li>
            <li style="float:left"><img id="logo" src="img/LogoRecycloV1.png" alt=""></li>
            <li id="titulo" style="float:left"><a >Recyclo</a></li>
        </ul>
        <div>
            <h1>Seja bem vindo a Recyclo</h1>
        </div>
    </div>
    
    <!-- login/ criar conta -->
    <div id="Conta" class="Divs">
        <p>Se você deseja nos ajudar a criar um mundo mais consciente crie uma conta</p>
        <div id="Entrar_Login">
            <img id="imgPerfil" src="img/perfil.png">
            <button id="Login" onclick=" window.location.assign('login_usuario/index.html');" class="btn">Entrar</button>
            <button id="CriarConta" onclick=" window.location.assign('Cadastro/index.html');" class="btn" >Criar Conta</button>
        </div>
    </div>
    
    <!-- Sobre/fim  -->


    <footer>Copyright @Recyclo</footer>
    <script src="index.js"></script>
</body>
</html>