* {
    margin: 0;
    padding: 0;
    /* font-family: Arial; */
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: whitesmoke;
}

.btn {
    width: 200px;
    height: 65px;
    background-color: transparent;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    border-color: #5ABE41;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
}

.btn:hover {
    background: Rgb(90, 190, 65, 0.5);
    transition: 0;
}

h3 {
    font-size: 35px;
    letter-spacing: 3px;
}
#navMob{display: none;}
#nav {
    width: auto;
    height: 50px;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: rgba(90, 190, 65);
    box-shadow: -7px 4px 16px #000;
}

#logo {
    height: 45px;
    width: 47px;
    cursor: pointer;
}

#titulo {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    letter-spacing: 2px;
    font-weight: 900;
}

li {
    float: right;
}

.lia {
    margin-right: 7px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.lia:hover {
    background-color: rgb(83, 83, 83);
    border-radius: 5px;
    transition: 1.2s;
}


/*-- Base --*/

.Content {
    height: 500px;
    text-align: center;
    padding: 20px;
}

p {
    text-align: left;
    color: white;
    font-weight: 600;
    font-size: 25px;
}


/*-- Div Iniciar --*/

h1 {
    text-shadow: 2px 2px 5px #5e5e5ef3;
    color: white;
    font-size: 50px;
    letter-spacing: 1px;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
}

#inicio {
    text-align: center;
    background: url("img/Inicio.jpg") no-repeat;
    background-size: cover;
    background-position-y: center;
}

#inicio p {
    margin-top: 50px;
    width: 60%;
}

#inicio img {
    height: 250px;
    right: 15px;
    background: url(../View/img/mapa.PNG) no-repeat;
    background-size: cover;
    border-radius: 15px;
    margin-left: 5px;
    border-style: inset;
    border-color: rgba(90, 190, 65, 0.3);
}

#inicio div {
    text-align: center;
    display: inline-flex;
    margin-top: 20px;
}


/*-- cadastro --*/

#cadastrar {
    padding: 50px;
}

#cadastrar div {
    display: inline-grid;
    margin-top: 15px;
    margin-bottom: 25px;
    box-shadow: 10px 10px Rgb(90, 190, 65, 0.5);
    padding: 20px;
    border-radius: 5px;
}

#cadastrar img {
    width: 150px;
    height: 145px;
    margin-top: 10px;
}

#cadastrar button {
    margin-top: 10px;
}

#cadastrar h1 {
    color: black;
}

#cadastrar p {
    color: black;
    width: 60%;
    text-align: justify;
    margin-left: 20%;
}


/*-- sobre --*/

#sobre {
    background: url("../View/img/sobre.png") no-repeat;
    background-size: cover;
    padding: 10vw;
    height: 300;
}

#sobre p{
    margin-top: 15px; 
    text-align: justify;}
#sobre h3{color:white}
#sobre button{

    margin-top: 50px;
    color: white;
}

footer {
    background: #5ABE41;
    color: white;
    text-align: center;
    padding: 20px;
}
#mob{display: none;}

/*-- Mobile --*/

@media only screen and (max-width:600px) {
    
    .lia{display: none;}
    #mob{
        border-radius: 5px;
        height: 50px;
        display: initial;}
    #mob img{height: 50px;}
    #mob:active{
        background: rgba(245, 245, 245, 0.479);
    }
    #navMob{
        display: none;
        width: 200px;
        position: absolute;
        height: 380px;
        right: 0;
        list-style: none;
        text-align: center;
        padding: 10px;
        background: rgba(245, 245, 245, 0.822);
    }
    #navMob li{
        height: 75px;
        width: 100%;
        padding-top: 30px;
        border-radius: 5px;
    }
    #navMob li:hover{
        background: #5ABE41;
    }
    #navMob a{
        color: black;
        text-decoration: none;
        font-size: 25px;
        letter-spacing: 2px;
        font-weight: bolder;
    }
    .Content {
        height: 400px;
        width: auto;
    }
    .lia {
        /* -nav */
        padding: 15px 6px;
    }
    .lia:active {
        background-color: rgb(83, 83, 83);
        border-radius: 5px;
        transition: 1.2s;
    }
    h1 {
        font-size: 30px;
    }
    p {
        font-size: 15px;
    }
    h3 {
        font-size: 30px;
    }
    #inicio img {
        height: 40vw;
        margin-left: 10vw;
    }
    #inicio p {
        margin-top: 10px;
        width: 100%;
        text-align: justify;
    }
    #inicio div {
        display: flex;
        flex-flow: wrap-reverse;
    }
    .btn {
        width: 150px;
        font-size: 17px;
    }
    #cadastrar {
        padding: 25px;
    }
    #cadastrar img {
        width: 100px;
        margin-left: 10px;
        height: 97px;
    }
    #cadastrar div {
        margin-top: 8px;
        margin-bottom: 10px;
        box-shadow: 5px 5px Rgb(90, 190, 65, 0.5);
    }
    #cadastrar p {
        width: auto;
        margin-left: 0;
        text-align: justify;
    }
}

/*-- Horizontal --*/
@media only screen and (min-width:600px) and (max-height:500px){
    #inicio div {margin-top: 30px;}
    #inicio p {margin-top: 0;}
    #inicio img {height: 170px ;}

    #cadastrar p {
        width: 77%;
        margin-left: 15%;
    }
}