*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    scroll-behavior: smooth;
}
body{
    background-color: whitesmoke;
}
.Divs{
    height: 40vw;
}

.btn{
    width: 17vw;
    height: 65px;
    background-color:rgba(90, 190, 65, 0.8);
    border: 0;  
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
}

.btn:hover{
    transition: 1s;
    background-color:rgb(90, 190, 65) ;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: rgba(90, 190, 65, 0.8);
    box-shadow: 0px 10px rgba(0, 0, 0, 0.158);
}
#logo{
    height: 45px;
    width: 47px;
}
#titulo{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    letter-spacing: 2px;
    font-weight: 900;
  }

li {
    float: right;
  }

.lia{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.lia:hover {
    background-color: rgb(83, 83, 83);
    border-radius: 10px;
    transition: 1.2s;
}
/* -- Imagem provisoria 
        retirada da unsplash --*/
#Home{
    background: url("https://images.unsplash.com/photo-1533027052290-2b4ece075c42?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80") no-repeat;
    background-size: cover;
    background-position-y: center;
    height: 50vw;
    text-align: center;
}

#mask{
    background: rgba(0, 0, 0, 0.25);
}

h2{
    margin-top: 10px;
    font-size: 50px;
    color: white;
}
#listaFuncionalidades{
    margin-left: 20px;
    margin-top: 20px;
    width: 50%;
    color: white;

}
#listaFuncionalidades li{
    text-align: left;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 700;
    list-style-type: none;
}

#Conta{
    background: url("img/login.jpg") no-repeat;
    background-position-y: center;
    background-size: cover;
    padding: 30px;
    display: flex;
    margin-top: 20px;
}
#Conta p{
    font-family: sans-serif;
    color: white;
    font-weight: 1000;
    font-size: 50px;
    width: 50vw;
    margin-top: 50px;
    opacity: 0.8;
}

#Entrar_Login{
    text-align: center;
    width: 50%;
    white-space: pre-wrap;
    background-color:rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 50px;
}
#Entrar_Login button{
    margin-top: 15px;
}

#imgPerfil{
    margin-top: 20px;
    height: 130px;
    opacity: 0.9;
    border-style: solid;
    border-radius: 30px;
}


footer {
    padding: 20px;
    margin: 0 auto;
    left: 0;
    bottom: 0;
    background-color: rgb(90, 190, 65);
    color: white;
    text-align: center; 
}

/*-- mobile --*/