
.btn {
    width: 200px;
    height: 65px;
    background-color: transparent;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    border-color: #5ABE41;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
}

.btn:hover {
    background: Rgb(90, 190, 65, 0.5);
    transition: 0;
}

h3 {
    font-size: 35px;
    letter-spacing: 3px;
}


/*-- Base --*/

.Content {
    height: 100vh;
    text-align: center;
    padding: 20px;
}

p {
    text-align: left;
    color: white;
    font-weight: 600;
    font-size: 33px;
}


/*-- Div Iniciar --*/

h1 {
    text-shadow: 2px 2px 5px #5e5e5ef3;
    color: white;
    font-size: 50px;
    letter-spacing: 1px;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
}

#inicio {
    text-align: center;
    background: url("img/Inicio.jpg") no-repeat;
    background-size: cover;
    background-position-y: center;
    height: 100vh;
}
#row{
    margin-top: 10vh;
}
.row .col-md-6{
    margin-top: 15px;
}
#inicio p {
    margin-top: 50px;
    margin-left: 5vh;
}
#inicio img{
    height:auto;
}



/*-- cadastro --*/

#cadastrar {
  margin: auto;
  text-align: center;
  padding: 20px;
}

#cadastrar div {
    display: inline-grid;
    margin-top: 15px;
    margin-bottom: 25px;
    box-shadow: 10px 10px Rgb(90, 190, 65, 0.5);
    padding: 20px;
    border-radius: 5px;
}

#cadastrar img {
    width: 150px;
    height: 145px;
    margin-top: 10px;
}

#cadastrar button {
    margin-top: 10px;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    border-color: #5ABE41;
}

#cadastrar h1 {
    color: black;
}

#cadastrar p {
    color: black;
    padding-left: 15%;
    padding-right: 15%;
    text-align: justify;
    
}


/*-- sobre --*/

#sobre {
    background: url("../View/img/sobre.png") no-repeat;
    background-size: cover;
    padding: 10vw;
    height: auto;
}

#sobre p{
    margin-top: 15px; 
    text-align: justify;
}
#sobre h3{
    color:white
}
#sobre button{
    margin-top: 50px;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    border-color: #5ABE41;
    color: white;
    
}

footer {
    background: #5ABE41;
    color: white;
    text-align: center;
    padding: 20px;
}

/*-- Mobile --*/

@media only screen and (max-width:700px) {
    h1 {
        font-size: 30px;
    }
    p {
        font-size: 15px;
    }
    h3 {
        font-size: 30px;
    }
    #row{
        margin-top: 15vh;
    }
    #inicio p {
        margin-top: 10px;
        margin-left: 0;
        width: 100%;
        text-align: justify;
        font-weight: 1000;
        color: white;
        font-family: arial;
      
    }
    #inicio div {
        display: flex;
    }
    .btn {
        width: 150px;
        font-size: 17px;
    }
    #cadastrar {
        padding: 25px;
        height: auto;
    }
    #cadastrar img {
        width: 100px;
        margin-left: 10px;
        height: 97px;
    }
    #cadastrar div {
        margin-top: 8px;
        margin-bottom: 10px;
        box-shadow: 5px 5px Rgb(90, 190, 65, 0.5);
    }
    #cadastrar p {
        width: auto;
        margin-left: 0;
        text-align: justify;
    }
    
}


/*-- Horizontal --*/
@media all and (orientation:landscape){
    p{
        font-size: 25px;
    }
    #inicio{
       height: 150vh;
   }
   #row{
       margin-top:10vh ;
   }
   .Content{
       height: 150vh;
   }
   #cadastrar p{
        width: auto;
        margin-left: 0;
   }

}